.gradient-background {
    background: linear-gradient(300deg, #2b0a47, #0e061a);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Alliance Font';
    src: url(./fonts/Alliance-Font.ttf);
}

.title {
    padding-top: 200px;
    padding-bottom: 100px;
}

.profile {
    padding-top: 200px;
    padding-bottom: 200px;
}

.myname {
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
    font-weight: bolder;
    color: #905ee0;
    text-align: center;

}

.myjob {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #D4ADFC;
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
    
}

.frontend {
    color: #9858ff;
    
}

.myskill {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: #9858ff;
    text-align: left;

}

.myskillset {
    font-family: 'Alliance Font', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #9858ff;
    text-align: center;
    display: inline-flex;
}

.dynamic li span::after{
    content: "";
    position: absolute;
    border-left: 2px solid #9858ff;
    left: 0;
    animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -3;
    }
    
}

.lang {
    font-family: 'Inter' , sans-serif;
    font-weight: bold;
    color: #9858ff;
    border-radius: 12px;
    border: 3px solid ;
    padding: 10px;
    width: 100%;
    height: 79%;
    
}

.d-block {
    border-radius: 50%;
    background-color: #571fb8;
}

.part {
    background-color: #28034f;
    padding: 20px;
    background-size: auto;
    border-radius: 20px;

}

.contact {
    font-family: 'Inter';
    font-size: 40px;
    text-align: center;
    
    color: #955afa; 
}

.contact-shy{
    font-weight: bolder;
    color: rgb(189, 123, 255);;
}

.textee {
    font-size: 20px;
    font-style: oblique;

}

.button {
    background-color: #c383fa;
    border-color: #2b0a47;
    background-size: auto;
    color: #341361;
    font-weight: bold;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 20px;
   
}

.footer {
    background-color: #28034f;
    padding-bottom: 5px;
    padding-right: 30px;
}

.bi-linkedin {
    fill: #b386ff; 
}

.bi-instagram {
    fill: #b386ff; 
}

.bi-twitter {
    fill: #b386ff; 
}

.text-body-secondary-footer {
    color: #b386ff;
}
